body {
  background-image: url('./images/background.png');
}

.planet {
  color: white;
  display: inline-block;
  text-align: center;
}

.planet img {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 150px;
}

div {
  text-align: center;
}

.cardMission {
  border: solid 1px rgb(168, 168, 168);
  color: white;
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(26, 26, 26, 0.507);
  margin: 10px;
  border-radius: 20px;
  padding-bottom: 10px;
}

.cardMission p {
  margin: 10px;
}

.tituloMission {
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.349);
  margin: 0px 0px 10px 0px;
  border-bottom: solid 1px rgb(82, 82, 82);
  padding: 20px 5px;
}

div h2 {
  color: white;
  font-size: 60px;
  text-align: center;
  background-color: rgba(26, 26, 26, 0.363);
  margin: 80px;
  border: solid 1px rgb(82, 82, 82);
  padding: 10px;
}

header h1 {
  color: white;
  font-size: 90px;
  text-align: center;
  margin: 50px 20px 20px 20px;
}
